[module] update_chroot
[script] paru -Cu --noconfirm
[dependencies]
[codependencies]
[post-script]
[revert-script]
[fail-script]

[module] llvm
[script] paru -S aur/llvm-minimal-git aur/llvm-libs-minimal-git --chroot --noconfirm --needed
[dependencies] update_chroot
[codependencies]
[post-script]
[revert-script]
[fail-script]

[module] mesa
[script] /home/kogasa/.local/bin/bash-installer-modules/mesa
[script] cd ~/aur/mesa-git && paru -U --chroot --noconfirm --install
[dependencies] update_chroot
[codependencies] llvm
[post-script] mpv -v >/dev/null || paru -S mpv-amd-full-git --rebuild --noconfirm
[revert-script]
[fail-script] install_from_cache llvm

[module] lib32_llvm
[script] /home/kogasa/.local/bin/bash-installer-modules/lib32_llvm
[script] paru -S aur/lib32-llvm-minimal-git aur/lib32-llvm-libs-minimal-git --chroot --noconfirm --needed
[dependencies] llvm mesa update_chroot
[codependencies]
[post-script]
[revert-script]
[fail-script]

[module] lib32_mesa
[script] cd ~/aur/lib32-mesa-git && paru -U --chroot --noconfirm --install || lib32_mesa_failed=true
[dependencies] mesa update_chroot
[codependencies] lib32_llvm
[post-script]
[revert-script]
[fail-script] install_from_cache lib32_llvm
