[module] will_succeed
[script] true
[dependencies]
[codependencies]
[post-script]
[revert-script]
[fail-script]

[module] will_fail
[script] false
[dependencies]
[codependencies]
[post-script] 
[revert-script]
[fail-script] echo "fail script for will_fail executed"


[module] depends_on_success
[script] true
[dependencies] will_succeed
[codependencies]
[post-script]
[revert-script] 
[fail-script]

[module] will_be_reverted
[script] true
[dependencies] will_succeed
[codependencies]
[post-script]
[revert-script] echo 'will_succeed was reverted'
[fail-script]

[module] depends_on_fail
[script] true
[dependencies] will_fail
[codependencies]
[post-script]
[revert-script]
[fail-script]

[module] fails_with_codependencies
[script] false
[dependencies]
[codependencies] will_be_reverted
[post-script]
[revert-script]
[fail-script]

[module] depends_on_fails_with_codependencies
[script] true
[dependencies] fails_with_codependencies
[codependencies] 
[post-script]
[revert-script]
[fail-script]
